.card-container {
  margin-top: 3rem;
}

.card {
  text-align: center;
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px, rgba(0, 0, 0, 0.08) 0px 0px 1px;
}
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  /* transform: scale(1.05); */
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 8px;
  border-bottom: 1px solid #eee;
}

.card__content {
  padding: 1.5rem;
}
.card__heading {
  font-size: 3rem;
  color: var(--h-color);
  margin-bottom: 3.2rem;

  font-weight: 800;
  color: #e50914;
  text-transform: uppercase;
  letter-spacing: 2px;
}

button {
  background-color: #e50914;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 0.8rem 2rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}
button:hover {
  background-color: #f40612;
}

/* Responsive */
/* Tablet and up */
@media (min-width: 768px) {
  .card__heading {
    font-size: 3.5rem;
  }
}

/* Desktop and up */
@media (min-width: 1024px) {
  .card__heading {
    font-size: 4rem;
    margin-bottom: 5rem;
  }
}
