/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", roboto;
}

/* PAGE CENTER */

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #06161b, #0b2b33);
  display: flex;
  justify-content: center;
  align-items: flex-start; /* ✅ move to top */
  padding-top: 4rem; /* ✅ space from top */
}

/* MAIN CONTAINER */
.todo-container {
  width: 380px;
  text-align: center;
}

/* HEADER */
.todo-container h1 {
  color: #ffffff;
  font-size: 4.5rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

/* FORM */
.form form {
  display: flex;
  background: #f1f1f1;
  border-radius: 50px;
  overflow: hidden;
  margin-bottom: 2rem;
}

/* INPUT */
.todo-input {
  flex: 1;
  padding: 15px 20px;
  color: #000;
  border: none;
  outline: none;
  font-size: 1.5rem;
  border-radius: 50px 0 0 50px;
}

/* BUTTON */
.todo-button {
  background: #0f1af1;
  border: none;
  padding: 0 25px;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  transition: background 0.3s ease;
}

.todo-button:hover {
  background: #d4ac0d;
}

/* TODO LIST (for next step) */
.todo-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* TODO ITEM */
.todo-item {
  background: #f1f1f1;
  padding: 14px 18px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* TEXT */
.todo-text {
  font-size: 1rem;
  color: #333;
}

/* ICONS */
.todo-actions {
  display: flex;
  gap: 10px;
}

.todo-actions button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1.2rem;
}

/* COMPLETE */
.complete {
  color: #2ecc71;
}

/* DELETE */
.delete {
  color: #e74c3c;
}
