@import "tailwindcss";

/* ? This file contains Global CSS style */

/* Base Rules */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* max-width: 1440px; */

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --main-color: #0062ff;
  --suporting-color: ebf3fe;
  --font-color: #424242;
  --bg-color: #ffffff;
  --heading-color: #000019;
  --h-color: #0a043c;
  --white-color: #ffffff;
  --para-color: #504e4d;
  --btn-hove-bg-color: #003b99;
  --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

html {
  font-size: 62.6%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Poppins", sans-serif; */
  font-family:
    "Roboto",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 1.6rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: #010101;
}

h1 {
  font-size: 4.2rem;
  line-height: 1.1;
  color: var(--h-color);
  color: #ffffff;
}
/* h1 {
  font-size: clamp(1.5rem, 2vw + 1rem, 3rem);
} */

h2 {
  font-size: 2rem;
  color: var(--h-color);
}
h3 {
  font-size: 1.8rem;
  color: var(--h-color);
}
li {
  list-style: none;
}
p,
li,
label {
  font-size: 1.6rem;
  letter-spacing: 1.8px;
  line-height: 1.6;
  margin-bottom: 1.6rem;
  color: var(--para-color);
  text-align: justify;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.8rem 2.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* layout */

.container {
  text-align: center;
  max-width: 142rem;
  margin: 0 auto;
  padding: 9.6rem 2.4rem;
}

.grid {
  background: #020202;
  display: grid;
  gap: 9.6rem;
  padding: 2rem;
}

/* Base (Mobile-first) */
.grid__three-cols {
  grid-template-columns: 1fr;
}

/* Tablet and up */
@media (min-width: 768px) {
  .grid__three-cols {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop and up */
@media (min-width: 1024px) {
  .grid__three-cols {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  /* .grid__three-cols {
    grid-template-columns: repeat(4, 1fr);
  } */
}

@media (min-width: 1440px) {
  /* .container {
    max-width: 182rem;
  }
  .grid__three-cols {
    grid-template-columns: repeat(4, 1fr);
  } */
}
