body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

/* outer switch */
.toggle-switch {
  width: 200px;
  height: 90px;
  background-color: #ccc;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  padding: 15px;
  margin-top: 5rem;
  transition: background-color 0.3s;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

/* inner circle */
.switch {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #b3aeae;
  font-weight: bold;
  position: absolute;
  top: 15px;
  left: 15px;
  transition:
    trasform 0.3s linear,
    background 0.3s linear;
  border: 0.2rem solid #ccc;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/* text */
.switch-state {
  font-size: 20px;
  font-weight: bold;
  /* color: #000; */
}
.on {
  background: #4caf50;
  transform: translateX(50px);
}
.off {
  background: #f44336;
  transform: translateX(0);
}
.switch-state {
  margin: 0 10px;
  text-transform: uppercase;
}
